@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />
    <style>
        .navbar-scrolled {
            background-color: #1b1a2ea9 !important;
            transition: all 0.3s ease-out 0s !important;
            box-shadow: 0px 10px 10px 0px rgba(9, 5, 29, 0.171) !important;
            backdrop-filter: blur(15px) !important;
        }
    </style>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-md @(ViewBag.NavbarSticky == true ? "sticky" : "navbar") fixed-top">
        <div class="container">
            <a class="navbar-brand d-flex" href="@Url.Action("Index", "Home")">
                <h4>Ayush Srivastava</h4>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Home")">
                            <i class="fas fa-home"></i> Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("About", "Home")">
                            <i class="fas fa-user"></i> About
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Projects", "Home")">
                            <i class="fas fa-project-diagram"></i> Projects
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Resume", "Home")">
                            <i class="fas fa-file-alt"></i> Resume
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Education", "Home")">
                            <i class="fas fa-blog"></i> Education
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="body-content">

        @RenderBody()
    </div>
    @{
        var year = DateTime.Now.Year;
    }
    <footer class="footer">
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-md-4 footer-copywright">
                    <h3>Designed and Developed by Ayush Srivastava</h3>
                </div>
                <div class="col-md-4 footer-copywright">
                    <h3>Copyright © @year AS</h3>
                </div>
                <div class="col-md-4 footer-body">
                    <ul class="footer-icons list-inline">
                        <li class="list-inline-item social-icons">
                            <a href="https://github.com/imayushsri" style="color: white;" target="_blank" rel="noopener noreferrer">
                                <i class="fab fa-github"></i>
                            </a>
                        </li>
                        <li class="list-inline-item social-icons">
                            <a href="https://x.com/imayush_sri" style="color: white;" target="_blank" rel="noopener noreferrer">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item social-icons">
                            <a href="https://www.linkedin.com/in/imayushsri/" style="color: white;" target="_blank" rel="noopener noreferrer">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                        <li class="list-inline-item social-icons">
                            <a href="https://www.instagram.com/imayushsri" style="color: white;" target="_blank" rel="noopener noreferrer">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/tsparticles@2/tsparticles.bundle.min.js"></script>

    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)

    <script>
        window.addEventListener("scroll", function () {
            const navbar = document.querySelector(".navbar");
            if (window.scrollY > 50) {
                navbar.classList.add("navbar-scrolled");
            } else {
                navbar.classList.remove("navbar-scrolled");
            }
        });
    </script>

</body>
</html>
